@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/HomeIndexStyle.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <section class="login-form">
                <!-- <input asp-for="model">  has to be add when outsourcing is done-->
                <form asp-controller="Home" asp-action="Index" method="post" role="login">
                    <img src="~/images/header-logo.png" class="img-responsive" alt="" />
                    <input type="email" name="email" placeholder="Email" required class="form-control input-lg" />
                    <input type="password" name="password" class="form-control input-lg" id="password" placeholder="Password" required="" />
                    <div class="pwstrength_viewport_progress"></div>
                    <p class="createLabel" style="color:#fff; text-align: center;">@ViewData["Error"]</p>
                    <button type="submit" name="go" class="btn btn-lg btn-success btn-block">Sign in</button>
                    <div>
                        <p class="createLabel">@Html.ActionLink("Reset password", "Reset", "Home")</p>
                    </div>
                </form>
                @*@Html.ActionLink("link text", "someaction", "somecontroller", new { id = "123" }, null)
                    @Url.Action("Reset", "Home")*@
            </section>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>