@model ActionPointStarrViewModel

@section Styles {
    <link href="@Url.Content("~/css/StarrListStyle.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <script src="~/js/StarrPageScript.js"></script>
}

@{
    ViewData["Title"] = "StarrList";
}

@functions{
    int selectedStarrId = 0;
}

<div class="container">
    <div class="container-fluid" style="background-color: white; border-radius: 25px;">
        <div class="row content">
            <div class=" text-center">
                <h1 style="color: #0082CA">STARR List</h1>
                <h4 class="text-center"> All STARR forms</h4>
                <hr>
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search">
                <br>
                <table id="myTable">
                    <tr class="header">
                        <th style="width:30%;" onclick="sortTable(0)">Title</th>
                        <th style="width:20%;" onclick="sortTable(1)">Date</th>
                        <th style="width:20%;" onclick="sortTable(2)">Coach</th>
                        <th style="width:10%;"></th>
                        <th style="width:10%;"></th>
                        <th style="width:10%;"></th>
                    </tr>
                    @foreach (var starr in Model.starrList)
                    {
                    <tr>
                        <td>@starr.Name</td>
                        <td>@starr.LastEdit</td>
                        <td>@starr.CoachId</td>
                        <td>
                            <a asp-action="EditStarr" asp-route-id="@starr.Id">
                                <span class="glyphicon glyphicon-pencil">

                                </span>
                            </a>
                        </td>
                        <td>
                            <a asp-action="PrintStarr" asp-route-id="@starr.Id">
                            <span class="glyphicon glyphicon-print">

                            </span>
                            </a>
                        </td>
                        <td>
                            <a onclick="SetStarrId(@starr.Id); showActionPoints();" >
                                 <span class="glyphicon glyphicon-plus">

                                </span>
                            </a>
                        </td>
                    </tr>
                    }
                </table>
                <br>
            </div>
        </div>
    </div>
</div>
<div style="height: 30px;"></div>

<div class="modal fade text-center" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Actionpoints</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    @foreach (var actionpoint in Model.allActionPointsOfUser)
                    {
                        <a onclick="AddActionPointToStarr(@actionpoint.Id)" data-dismiss="modal" class="list-group-item list-group-item-action">@actionpoint.SoftSkill</a>
                    }
                </div>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>