@model Models.User

@{
    ViewData["Title"] = "Account";
}

<div>
    <div class="modal-dialog" id="test">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">@Model.FirstName  @Model.LastName</h4>
            </div>
            <div class="modal-body">
                <center>
                    <a><img src="~/images/placeholder.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">@Model.FirstName  @Model.LastName<small>NL</small></h3>
                    <span><strong>Skills: </strong></span>
                    <span class="label label-warning">HTML5/CSS</span>
                    <span class="label label-info">Java</span>
                    <span class="label label-info">C#</span>
                    <span class="label label-success">Excel/Word</span>
                </center>
                <hr>
                <center>
                    <h2 class="text-center"><strong>Bio</strong></h2>
                    <br>
                    <p>Currently a HBO-ICT student at Fontys Eindhoven where I am helping acknowledge with their webapplication.</p>
                    <br>
                    <hr>
                    <h2 class="text-center"><strong> Information </strong></h2>
                    <br>
                    <p class="text-center"><strong> Email </strong></p>
                    <input asp-for="@Model.Email" name="email" placeholder="@Model.Email" required class="form-control input-lg" />
                    <br>
                    <p class="text-center"><strong> Username </strong></p>
                    <input asp-for="@Model.Email" name="email" placeholder="@Model.Email" required class="form-control input-lg" />
                    <br>
                    <p class="text-center"><strong> Firstname </strong></p>
                    <input asp-for="@Model.FirstName" name="email" placeholder="@Model.FirstName" required class="form-control input-lg" />
                    <br>
                    <p class="text-center"><strong> Lastname </strong></p>
                    <input asp-for="@Model.LastName" name="email" placeholder="@Model.LastName" required class="form-control input-lg" />
                    <br>
                    <p class="text-center"><strong> Adress </strong></p>
                    <input asp-for="@Model.Adress" name="email" placeholder="@Model.Adress" required class="form-control input-lg" />
                    <br>
                    <button type="button" class="btn btn-primary">Edit</button>
                </center>
            </div>
        </div>
    </div>
</div>
<div style="height: 30px;"></div>