@model ActionPointStarrViewModel

@section Styles {
    <link href="@Url.Content("~/css/ActiepuntenStyle.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "Action";
}

<div class="container">
    <div class="container-fluid" style="background-color: white; border-radius: 25px;">
        <div class="row content">
            <div class=" text-center">
                <h1 style="color: #0082CA">Actionpoints</h1>
                <div class="main-login main-center" style="max-width: 800px">
                    <form asp-action="AddActionpoint" asp-controller="Action" method="post">
                        <div class="form-group">
                            <label asp-for="@Model.SoftSkills">Select Softskill:</label>
                            <select asp-for="@Model.actionpoint.SoftSkill" class="form-control" id="Skill">
                                @foreach (string softskill in Model.SoftSkills)
                                {
                                    <option>@softskill</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.coachName">Select a Coach:</label>
                            <select asp-for="@Model.coachName" class="form-control" id="sel1">
                                @foreach (string coach in Model.Coaches)
                                {
                                    <option>@coach</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.actionpoint.Specific" class="cols-sm-2 control-label">Specifiek</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon" data-toggle="modal" data-target="#specifiekModal"><i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i></span>
                                    <textarea asp-for="@Model.actionpoint.Specific" rows="6" class="form-control" id="Specifiek"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.actionpoint.Measurable" class="cols-sm-2 control-label">Meetbaar</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon" data-toggle="modal" data-target="#meetbaarModal"><i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i></span>
                                    <textarea asp-for="@Model.actionpoint.Measurable" rows="6" class="form-control" id="Meetbaar"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.actionpoint.Assignable" class="cols-sm-2 control-label">Acceptabel</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon" data-toggle="modal" data-target="#acceptabelModal"><i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i></span>
                                    <textarea asp-for="@Model.actionpoint.Assignable" rows="6" class="form-control" id="Acceptabel"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.actionpoint.Realistic" class="cols-sm-2 control-label">Realistisch</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon" data-toggle="modal" data-target="#realistischModal"><i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i></span>
                                    <textarea asp-for="@Model.actionpoint.Realistic" rows="6" class="form-control" id="Realistisch"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.actionpoint.TimeRelated" class="cols-sm-2 control-label">Tijdsgebonden</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon" data-toggle="modal" data-target="#tijdgebondenModal"><i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i></span>
                                    <textarea asp-for="@Model.actionpoint.TimeRelated" rows="6" class="form-control" id="Tijdgebonden"></textarea>
                                </div>
                            </div>
                        </div>
                        <input asp-for="@Model.starr.Id" type="hidden" />
                        <input asp-for="@Model.actionpoint.Id" type="hidden" />
                        <div class="form-group ">
                            <button type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Finish</button>
                        </div>
                    </form>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<div style="height: 30px;"></div>






<!--  All the Modals -->
<div class="modal fade" id="specifiekModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Specifiek</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>
                        Specifiek
                        <ul>
                            <li>Wat willen we bereiken?</li>
                            <li>Wie zijn erbij betrokken?</li>
                            <li>Waar gaan we het doen?</li>
                            <li>Wanneer gebeurt het?</li>
                            <li>Welke delen van de doelstelling zijn essentieel?</li>
                            <li>Waarom willen we dit doel bereiken?</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="meetbaarModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Meetbaar</h4>
            </div>
            <div class="modal-body">
                <p>
                    Een SMART-doelstelling is normerend: het is een maat voor de kwaliteit van de te leveren inspanningen. Hoeveel gaan we doen? Hoe kunnen we dat meten? Wat is er af als het af is?
                    Een SMART-doel moet je kunnen zien, horen, proeven, ruiken of voelen. Er moet een systeem, methode en procedure zijn om te bepalen in welke mate het doel op een bepaald moment bereikt is. Doe zo mogelijk een nulmeting, om de startsituatie te bepalen.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="acceptabelModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Acceptabel</h4>
            </div>
            <div class="modal-body">
                <p>Als je een SMART-doel voor jezelf stelt, dan is het voldoende dat je het zelf accepteert. Maar wanneer je als leidinggevende een doel voor een groep mensen stelt, dan is het belangrijk dat er draagvlak voor is. De medewerkers moeten het ook willen, anders wordt het doel niet gehaald of beklijft de verandering niet. Je kunt het draagvlak vergroten door mensen actief te betrekken bij het kiezen en formuleren van de doelstelling. Het is belangrijk ze daarbij daadwerkelijk inspraak te geven. Met name kortetermijndoelen moeten zo laag mogelijk in de organisatie worden bepaald.</p><br>

                <p>Soms wordt de ‘A’ in SMART ook wel uitgelegd als “Aanwijsbaar”. Daarmee wordt bedoeld dat duidelijk moet zijn wie wat moet doen om het doel te bereiken. En een andere uitleg voor de ‘A’ is “Activerend” of “Actiegericht”: de doelstelling moet uitnodigen tot actie en energie losmaken. De doelstelling moet positief geformuleerd zijn. Er moet een actieplan zijn. Maar let erop dat een SMART-doel een bepaald resultaat voorschrijft, niet een inspanning.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="realistischModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Realistisch</h4>
            </div>
            <div class="modal-body">
                <p>Is het doel haalbaar? Is er een uitvoerbaar plan met aanvaardbare inspanningen? Kunnen de betrokkenen de gevraagde resultaten daadwerkelijk beïnvloeden? Hebben ze voldoende know-how, capaciteit, middelen en bevoegdheden? Dit is belangrijk, want een onbereikbaar doel motiveert mensen niet. Soms wordt de 'R' in SMART ook wel uitgelegd als "Relevant". Een haalbare en zinvolle doelstelling is motiverend en maakt energie los.</p><br>
                <p>Een realistische doelstelling houdt rekening met de praktijk. In geen enkele organisatie kunnen mensen 100% aan één doel werken. Er zijn altijd andere activiteiten, onverwachte gebeurtenissen en afleidingen.</p><br>
                <p>Een doelstelling kan onrealistisch zijn als hij op een te laag niveau in de organisatie wordt opgelegd. Bijvoorbeeld: "de winst in 1 jaar met 20% verhogen" is geen goede doelstelling voor de verkoopafdeling. Winst is een integraal resultaat van het hele bedrijf.</p><br>
                <p>Een te makkelijk doel is ook niet interessant, omdat het mensen niet uitdaagt en geen bevrediging oplevert. Het beste is doelen te stellen die net boven het niveau van de persoon of de organisatie liggen en die ongeveer 50% kans van slagen hebben. Als mensen het gevoel hebben dat ze iets extra’s moeten doen om het doel te realiseren dan voelen ze zich trots en dat geeft energie voor nieuwe doelen. Een SMART-doel moet gezien worden als een project, niet als een taak. Durf een uitdaging aan te gaan!</p><br>
                <p>Moeilijk bereikbare doelstellingen kun je opsplitsen in kleinere haalbare subdoelstellingen. De tussentijdse resultaten geven telkens nieuwe energie.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tijdgebondenModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tijdgebonden</h4>
            </div>
            <div class="modal-body">
                <p>Met name korte-termijndoelen moeten SMART zijn. Bij lange-termijndoelen is dat niet altijd mogelijk. Wanneer beginnen we met de activiteiten? Wanneer zijn we klaar? Wanneer is het doel bereikt?</p><br>
                <p>Een SMART-doelstelling heeft een duidelijke startdatum en einddatum.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>